.card-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;

  .card {
    position: relative;
    width: 100%;
    display: flex;
    transition: .3s;
    left: -128px;

    &.active{
      left: 0;
      background: #1C1C1C;
    }

    &__content {
      position: relative;
      min-width: 320px;
      width: 100%;
   
      .contetn {
        position: relative;;
        height: 200px;
  
        &__txt {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          height: 100%;
          z-index: 100;
  
          .title-media {
            margin-bottom: 8px;
          }
  
          & > div {
            justify-content: center;
            display: flex;
            flex-direction: column;
            height: 100%;
          }
        }
      }
  
      .content-event {
        height: 216px;
  
        .contetn__txt > .contetn__txt_wrap {
          justify-content: space-around;
          padding: 20px 0 20px 45px;
          width: 100%;
          padding-left: 90px;
        }
      }
  
      .content-video {
        height: 200px;
  
        .contetn__txt > .contetn__txt_wrap {
          justify-content: flex-end;
          padding-bottom: 20px;
          width: 100%;
          padding-left: 90px;
        }
      }
  
      .content-music {
        height: 128px;

        .contetn__txt > .contetn__txt_wrap {
          width: 100%;
          padding-left: 90px;
        }
      }
    }
  }
}
