.cover-feed,
.cover-media {
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
  opacity: .4;
}

.cover-media {
  top: 24px;
  left: 24px;

  img {
    display: block;
  }
}

.cover-feed {
  position: relative;
  min-width: 224px;
  top: 32px;
  left: 72px;
  margin-right: 5px;
}