.homepage {
  .homepage-slider{
    .homepage-slider__header {
      position: relative;
      display: flex;
      overflow: hidden;
    
      div[class*="cover"] {
        position: relative;
        min-width: 224px;
        top: 32px;
        left: 72px;
        margin-right: 5px;
      }
  
      
  
      .slide-title{
        position: absolute;
        bottom: 15px;
        left: 35px;
        z-index: 1;
  
        .titele {
          margin-bottom: 8px;
        }
  
        .gray-txt {
          color: #FF781C;
        }
      }
    }
  
    .dots {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 20px 0;
    
      & div:nth-last-of-type( n + 2 ){
        margin-right: 6px;
      }
    
      .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #ccc;
        margin-right: 6px;
      }
    
      .active {
        background: #FF781C;
      }
    }
  }
  
  .homepage-content {
    background: #151515;
    
    & .element-wrapper:nth-last-of-type( n + 2 ){
      border: 1px solid #2A2A2A;
    }
  }
}