.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 28px;
  background: #000;

  .menu-cover {
    position: relative;
    width: 31px;
    height: 31px;
    background-image: url("../img/menu/menu-sprite.png");
    background-repeat: no-repeat;

    &.link-feeds{
      background-position: 0 0;
    }
  
    &.link-event{
      background-position: -38px 0;
    }
  
    &.link-search{
      background-position: -80px 0;
    }
  
    &.link-profile {
      background-position: -125px 0;
    }

    &.active{
      background-position-y: -37px;
    }
  }

  .menu-cover .counter{
    top: 0;
    left: 65%;
  }
}